body {
  margin: 0; /* Remove margens brancas da pagina */
  overflow: hidden; /* Impede barras de rolagem */
  background-color: #111; /* Fundo escuro atras do jogo */
}

canvas {
  display: block; /* Remove espaços vazios embaixo do canvas */
  margin: 0 auto; /* Centraliza o jogo na tela */
  background-color: #fff; /* O Silencio Branco de Marah */
}